
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  
}
  /* End Header */
