
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav {
    background-color:grey;
    width: 100%;
  }

}
  /* End Header */

.content {
  height: 1000px;
}

.container-fluid {
  background: #f4f4f4;
}
